.hometitle {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

/* make the default font style to be a clearly readable font */

body {
    font-family: Arial, sans-serif;
    /*left-right margin of 10%*/
    margin-left: 10%;
    margin-right: 10%;
}

.bordered {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}