<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Manage Courses</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        
    </head>
    <body>
        <a href="/home">Back to home page</a>
        <br>
        <h1>Input Course</h1>

        <form id="dataForm">
            <div>
                <label for="courseName">Course Name</label>
                <input type="text" id="courseName" name="courseName" required>
                <span id="field1error" style="color: red"></span>
                <br>
                <label for="courseID">Course ID</label>
                <input type="text" name="courseID" id="courseID">
                <span id="field2error" style="color: red"></span>
                <br>
                <button type="submit">Submit</button>
            </div>
            <div>
                <p id="result"></p>
            </div>
        </form>

        <h2>Existing Course Information</h2>
        <div id="courses">
        </div>
        
        <a href="/home">Back to home page</a>

        <script src="{{ url_for('static', filename= 'js/course.js') }}"></script>
    </body>
</html>