<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Degree Course Input</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <a href="/home">Back to home page</a>
        <br>
        <h1>Degree Course Input</h1>

        <form id="dataForm">
            <div>
                <label for="degreedd">Input Degree</label>
                <select name="degreedd" id="degreedd" required>
                </select>
                <br>
                <label for="coursedd">Input Course</label>
                <select name="coursedd" id="coursedd" required>
                </select>
                <br>
                <label for="isCore">Is Core</label>
                <input type="checkbox" name="isCore" id="isCore">
                <br>
                <button type="submit">Submit</button>
            </div>
            <div>
                <p id="result"></p>
                <p id="field1error"></p>
            </div>
        </form>

        <h2>Existing Degree-Course Information</h2>
        <div id="degreeCourses">
        </div>
        
        <a href="/home">Back to home page</a>

        <script src="{{ url_for('static', filename= 'js/dcinput.js') }}"></script>
    </body>
</html>