<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Goal Course Input</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <a href="/home">Back to home page</a>
        <br>
        <h1>Goal Course Input</h1>

        <form id="dataForm">
            <div>
                <label for="goaldd">Input Goal</label>
                <select name="goaldd" id="goaldd" required>
                </select>
                <br>
                <label for="coursedd">Input Course</label>
                <select name="coursedd" id="coursedd" required>
                </select>
                <br>
                <button type="submit">Submit</button>
            </div>
            <div>
                <p id="result"></p>
                <p id="field1error"></p>
            </div>
        </form>

        <h2>Existing Degree-Course Information</h2>
        <div id="degreeCourses">
        </div>
        
        <a href="/home">Back to home page</a>

        <script>
            //goals
            var goals = [];
            fetch('/get_all_goals')
                .then(response => response.json())
                .then(data => {
                    goals = data.content;
                    const dropdown = document.getElementById('goaldd');
                    data.content.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = goals.indexOf(option);
                        optionElement.textContent = "[" + option.degreeName + " " + option.degreeLevel + "] " + option.goalCode;
                        dropdown.appendChild(optionElement);
                    });
                })
                .catch(error => console.error('Error:', error));
            
            //courses
            var courses = [];
            fetch('/get_all_courses')
                .then(response => response.json())
                .then(data => {
                    courses = data.content;
                    const dropdown = document.getElementById('coursedd');
                    data.content.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = courses.indexOf(option);
                        optionElement.textContent = option.courseID + " " + option.courseName;
                        dropdown.appendChild(optionElement);
                    });
                })
                .catch(error => console.error('Error:', error));
            
            fetch('/get_all_goal_courses')
                .then(response => response.json())
                .then(data => {
                    const div = document.getElementById('degreeCourses');
                    data.content.forEach(option => {
                        const pElement = document.createElement('p');
                        pElement.textContent = option.degreeName + " " + option.degreeLevel + ": " + option.courseID + " (Is Core: " + option.isCore + ")";
                        div.appendChild(pElement);
                    });
                })
                .catch(error => console.error('Error:', error));
            
            document.getElementById('dataForm').addEventListener('submit', function(event) {
                event.preventDefault();
                const goalIndex = document.getElementById('goaldd').value;
                const courseIndex = document.getElementById('coursedd').value;
                const selectedGoal = goals[goalIndex];
                const selectedCourse = courses[courseIndex];
                
                const formData = new FormData();
                formData.append('goal', JSON.stringify(selectedGoal));
                formData.append('course', JSON.stringify(selectedCourse));
                
                fetch('/gcinput/form', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').textContent = 'Result: ' + data.result;
                    if (data.invalid1) {
                        document.getElementById('field1error').textContent = 'Invalid';
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        </script>
    </body>
</html>