<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Goal Course Input</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <a href="/home">Back to home page</a>
        <br>
        <h1>Goal Course Input</h1>

        <form id="dataForm">
            <div>
                <label for="goaldd">Input Goal</label>
                <select name="goaldd" id="goaldd" required>
                </select>
                <br>
                <label for="coursedd">Input Course</label>
                <select name="coursedd" id="coursedd" required>
                </select>
                <br>
                <button type="submit">Submit</button>
            </div>
            <div>
                <p id="result"></p>
            </div>
        </form>

        <h2>Existing Goal-Course Information</h2>
        <div id="degreeCourses">
        </div>
        
        <a href="/home">Back to home page</a>

        <script src="{{ url_for('static', filename= 'js/gcinput.js') }}"></script>
    </body>
</html>