<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Goal Input</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <a href="/home">Back to home page</a>
        <br>
        <h1>Goal Input</h1>

        <form id="dataForm">
            <div>
                <label for="degreedd">Degree</label>
                <select name="degreedd" id="degreedd" required>
                </select>
                <br>
                <label for="goalCode">Goal Code</label>
                <input type="text" id="goalCode" name="goalCode" required>
                <span id="field1error" style="color: red"></span>
                <br>
                <label for="goalDesc">Goal Description</label>
                <input type="text" name="goalDesc" id="goalDesc">
                <span id="field2error" style="color: red"></span>
                <br>
                <button type="submit">Submit</button>
            </div>
            <div>
                <p id="result"></p>
            </div>
        </form>

        <h2>Existing Goal Information</h2>
        <div id="goals">
        </div>
        
        <a href="/home">Back to home page</a>

        <script>
            //degrees
            var degrees = [];
            fetch('/get_all_degrees')
                .then(response => response.json())
                .then(data => {
                    degrees = data.content;
                    const dropdown = document.getElementById('degreedd');
                    data.content.forEach(option => {
                        const optionElement = document.createElement('option');
                        optionElement.value = degrees.indexOf(option);
                        optionElement.textContent = option.degreeName + " " + option.degreeLevel;
                        dropdown.appendChild(optionElement);
                    });

                    fetch('/get_all_goals')
                        .then(response => response.json())
                        .then(data => {
                            const div = document.getElementById('goals');
                            data.content.forEach(option => {
                                const pElement = document.createElement('p');
                                pElement.classList.add('bordered');
                                pElement.textContent = "[" + option.degreeName + " " + option.degreeLevel + "] " + option.goalCode + ": " + option.description;
                                div.appendChild(pElement);
                            });
                        })
                        .catch(error => console.error('Error:', error));
                })
                .catch(error => console.error('Error:', error));
        
            document.getElementById('dataForm').addEventListener('submit', function(event) {
                event.preventDefault();
                const degreeIndex = document.getElementById('degreedd').value;
                const selectedDegree = degrees[degreeIndex];
                const goalCode = document.getElementById('goalCode').value;
                const goalDesc = document.getElementById('goalDesc').value;
                
                const formData = new FormData();
                formData.append('degree', JSON.stringify(selectedDegree));
                formData.append('goalCode', goalCode);
                formData.append('goalDesc', goalDesc);
                
                fetch('/goal/form', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('result').textContent = 'Result: ' + data.result;
                    if (data.invalid1) {
                        document.getElementById('field1error').textContent = 'Invalid';
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        </script>
    </body>
</html>