<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Goal Input</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <a href="/home">Back to home page</a>
        <br>
        <h1>Goal Input</h1>

        <form id="dataForm">
            <div>
                <label for="degreedd">Degree</label>
                <select name="degreedd" id="degreedd" required>
                </select>
                <br>
                <label for="goalCode">Goal Code</label>
                <input type="text" id="goalCode" name="goalCode" required>
                <span id="field1error" style="color: red"></span>
                <br>
                <label for="goalDesc">Goal Description</label>
                <input type="text" name="goalDesc" id="goalDesc">
                <span id="field2error" style="color: red"></span>
                <br>
                <button type="submit">Submit</button>
            </div>
            <div>
                <p id="result"></p>
            </div>
        </form>

        <h2>Existing Goal Information</h2>
        <div id="goals">
        </div>
        
        <a href="/home">Back to home page</a>

        <script src="{{ url_for('static', filename= 'js/goal.js') }}"></script>
    </body>
</html>