<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <h1 class="hometitle">Home page</h1>

        <h2>Data Input</h2>
        <a href="/degree">Input Degrees</a><br>
        <a href="/course">Input Courses</a><br>
        <a href="/degree_courses">Link Degree to Course</a><br>
        <a href="/goal">Input Goals</a><br>
        <a href="/goal_courses">Link Goal to Course</a><br>
        <a href="/instructor">Manage Instructors</a><br>
        <a href="/section">Manage Sections</a><br>

        <h2>Querying</h2>
        <a href="/selectdegree">Query Degree</a><br>
        <a href="/selectcourse">Query Course</a><br>
        <a href="/selectinstructor">Query Instructor</a><br>
        <a href="/selectsemester">Query Semester</a><br>
    </body>
</html>
