<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <h1 class="hometitle">Home page</h1>

        <h2>Data Input</h2>
        <a href="/degree">Input Degrees</a><br>
        <a href="/course">Input Courses</a><br>
        <a href="/degree_courses">Link Degree to Course</a><br>
        <a href="/goal">Create Goals</a><br>
        <a href="/goal_courses">Link Goal to Course</a><br>
        <a href="/instructor">Input Instructors</a><br>
        <a href="/section">Create Sections</a><br>
        <a href="/evaluation">Manage Evaluations</a><br>

        <h2>Querying</h2>
        <a href="/selectdegree">Query by Degree</a><br>
        <a href="/selectcourse">Query by Course</a><br>
        <a href="/selectinstructor">Query by Instructor</a><br>
        <a href="/selectsemester">Query by Semester</a><br>
    </body>
</html>
