<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Query Course</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <a href="/home">Back to home page</a>
        <br>
        <h1>Query Course</h1>

        <form id="dataForm">
            <div>
                <label for="coursedd">Input Course</label>
                <select name="coursedd" id="coursedd" required>
                </select>
                <br>
                <label for="startSemester">Start Semester</label>
                <select name="startSemester" id="startSemester" required>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                </select>
                <label for="startYear">Start Year</label>
                <input type="number" name="startYear" id="startYear" required>
                <br>
                <label for="endSemester">End Semester</label>
                <select name="endSemester" id="endSemester" required>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                </select>
                <label for="endYear">End Year</label>
                <input type="number" name="endYear" id="endYear" required>
                <br>
                <button type="submit">Submit</button>
            </div>
        </form>

        <h2>Associated Sections</h2>
        <div id="associatedSections">
        </div>
        
        <a href="/home">Back to home page</a>

        <script src="{{ url_for('static', filename= 'js/selectcourse.js') }}"></script>
    </body>
</html>