<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Query Semester</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <a href="/home">Back to home page</a>
        <br>
        <h1>Query Semester</h1>

        <form id="dataForm">
            <div>
                <label for="semester">Input Semester</label>
                <select name="semester" id="semester" required>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                </select>
                <label for="year">Year</label>
                <input type="number" name="year" id="year" required>
                <br>
                <button type="submit">Submit</button>
            </div>
        </form>

        <h2>Associated Sections</h2>
        <div id="associatedSections">
        </div>

        <h1>Query Semester with Passing Percentage</h1>
        <form id="dataForm2">
            <div>
                <label for="semester2">Input Semester</label>
                <select name="semester2" id="semester2" required>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                </select>
                <label for="year2">Year</label>
                <input type="number" name="year2" id="year2" required>
                <br>
                <label for="percentage">Percentage</label>
                <input type="number" name="percentage" id="percentage" required>
                <br>
                <button type="submit">Submit</button>
            </div>
        </form>

        <h2>Associated Sections with Passing Percentage</h2>

        <div id="associatedSections2">
        </div>
        
        <a href="/home">Back to home page</a>

        <script src="{{ url_for('static', filename= 'js/selectsemester.js') }}"></script>
    </body>
</html>